<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>horse_fortunes</title>
    <link rel="stylesheet" type="text/css" href="screen.css"/>
  </head>
  <body>
    <div class="container">
      <div class="quote">
        <p>{{ tweet }} <a href="/{{ index }}" class="permalink">#</a></p>
        <div class="moar"><a href="/">→ moar →</a></div>
      </div>
    </div>
    <ul>
      <li><a href="/get">Web service</a></li>
      <li><a href="/fortune">Fortune file</a></li>
      <li><a href="https://github.com/bodil/horsefortunes">Github</a></li>
    </ul>
    <script type="text/javascript" src="keys.js"></script>
  </body>
</html>
