html {
    height: 100%;
}

body {
    background: url("/horse.jpg") no-repeat 50%;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
    position: relative;
    font-family: serif;
    text-align: center;
    font-size: 4em;
}

.container {
    display: table;
    height: 100%;
    overflow: hidden;
    width: 70%;
    margin-left: 15%;
    margin-top: -1em;
}

.quote {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    padding: 1em 0;
}

.quote p {
    font-style: italic;
    color: #666;
    text-shadow: 4px 4px 16px #888;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.5em 2em;
    border-radius: 0.4em;
}

.moar {
    margin-top: -2em;
    margin-right: 1em;
    display: block;
    text-align: right;
    font-size: 0.4em;
}

ul {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: sans-serif;
    font-size: 12pt;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 2pt 0;
}

ul li {
    list-style: none;
    display: inline;
    padding: 0 1em;
    border-left: 2px groove white;
}

ul li:first-child {
    border: 0;
}

a {
    color: #444;
}

.moar a {
    color: #666;
    text-decoration: none;
    text-shadow: 2px 2px 8px #888;
}

.permalink {
    display: block;
    font-size: 0.25em;
    line-height: 1em;
    text-align: right;
    margin-right: -5em;
}

@media (max-width: 1024px) {
    .container {
        width: 90%;
        margin-left: 5%;
    }

    .quote p {
        padding: 0.5em 0.5em;
    }

    body {
        font-size: 3em;
    }

    .permalink {
        margin-right: 0;
        font-size: 12pt;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 2em;
    }

    .moar {
        font-size: 0.6em;
        margin-top: -1em;
    }
}
